<% @article.comments.each do |comment| %>
    <% unless comment.archived? %>
        <p>
            <strong>Commenter:</strong>
            <%= comment.commenter %>
        </p>

        <p>
            <strong>Comment:</strong>
            <%= comment.body %>
        </p>
    <% end %>
  <p>
    <%= link_to "Destroy Comment", [comment.article, comment], class: "btn btn-destroy", class: "btn btn-danger", data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
  </p><hr>
<% end %>